#
# Run `docker-compose up -d` to start the services.
#

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fossil-beans

volumes:
  db_data:
